*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
}

canvas:hover{
    cursor: crosshair;
}

select {
    padding: 10px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #1a1818;
    color: #fff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  select:hover,
  select:focus {
    outline: none;
    /* background-color: #444; */
  }
  
  select option {
    margin-left: 30px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    /* text-align: center;     */
  }
  
  select::-ms-expand {
    display: none;
  }

.buttons{
    font-size: 200%;
    color: rgb(41, 41, 41);
}

.buttons:hover{
    cursor: pointer;
}

.button_container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button_container_right{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 200%;
    border-bottom: 1px dashed;
    font-family: monospace;
    color: #444444;
}

.setting_options{
    border-bottom: 1px dashed;
    display: flex;
    flex: 1;
    /* margin: 10% 10%; */
    /* font-size: 25px; */
    font-family: monospace;
    color: #444444;
}

.setting_option{
    text-align: center;
    font-size: 1.8rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
}


#canvas_container{
    display: flex;
    width: 100%;
    text-align: -moz-center;

}

#myCanvas{
    margin: auto;
}

#status_box{
    /* font-size: 25px; */
    font-family: monospace;
    color: #444444;
    border-style: dashed; 
    padding: 10px;
    
}